@import "tailwindcss";

@layer components {
  .form-input {
    @apply w-full border rounded-md px-3 py-3 text-base focus:ring-2 focus:ring-black focus:outline-none;
  }

  .btn-primary {
    @apply w-full bg-black text-white py-3 rounded-md font-medium flex items-center justify-center gap-2 hover:bg-gray-800;
  }
  .btn-secondary {
    @apply w-full flex items-center justify-center gap-2 border rounded-md py-2 hover:bg-gray-50;
  }
}

